#content {
    display: flex;
    align-items: center; /* Align items vertically */
    margin-top: 85px;
    font-size: large;
}

#imagei {
    flex: 0 0 auto; /* Don't grow, don't shrink, based on content size */
    width: 250px; /* Set the width of the image */
    height: 250px; /* Set the height of the image */
    background-image: url('./b1.jpeg');
    background-size: cover;
    background-position: center;
    margin-right: 20px; /* Add some space between the image and text */
}

#yo{
    background: linear-gradient(to right,rgb(255, 255, 255) , rgb(182, 233, 249));
    padding: 64px 20px 64px 10px; /* top right bottom left */
    border-radius: 2rem;
}